* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
header{
    background-color: aquamarine;
    font-size: 1.85em;
    text-align: center;
    padding:10px;
    border: 1px solid #000;
    border-radius: 10px;
}
main{
    display:flex;
    flex: 1;
    background-color: bisque;
}
article{
    display:flex;
    flex: 1;
    background-color: rgb(63, 184, 111);
    width: 60%;
}
form{
    max-width: 400px;
    margin: 20px auto;
    
}
form label{
    display: block;
    margin-bottom: 5px;
    
}
button, input{
    margin: 10px;
    border-radius: 4px;
}
[type = "checkbox"], .ck{
    display: inline-block;
}


