body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

#faq-container {
    max-width: 600px;
    margin: 0 auto;
}

dl {
    border-bottom: 1px solid #ccc;
}

dt {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 15px;
    font-weight: bold;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

dt:hover {
    background-color: #e0e0e0;
}

dd {
    display: none;
    padding: 15px;
    margin: 0;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 5px 5px;
}

/* transition effect for a smoother appearance */
dd, dt {
    transition: background-color 0.3s, border-color 0.3s;
}
header{
    
    position: relative;
    height:250px;
    overflow:hidden
}
#image-contaier{
    
    position: absolute;
    width: 200%;

}
#image-container img{
    width: 50%;
    float: left;
}