*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: antiquewhite; 
    color:#FFF;  
}
header h2{
    text-align: center;
    border-bottom: solid #FFF 1px;
}
nav{
    border-bottom: solid #FFF 1px;
}
ul{
    list-style:none;
  }
nav li{
    display: inline-block;
    padding:20px 25px;
}
nav a{
    color:#FFF;
    text-decoration: none;
}
  section{
    width:95%;
    margin:0 auto;
    font-family: sans-serif;
    padding:11px;
}
header{
    background-color: rgb(72, 62, 49); 
    padding:20px 25px;
}
main{
    background-color:#FFF; 
    color:#000;
    padding:20px 25px;
    display: grid;
    grid-template-areas: "ar ar ar ar as as";
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
}
article{
   grid-area: ar;
}
aside{
   grid-area: as;
}
footer{
    background-color: rgb(72, 62, 49); 
}
footer p{
    text-align:center;
    padding:20px 25px;
}