
.container{
    display: grid;
    /* grid-template-columns:200px 200px; */
    /* grid-template-columns: repeat(4, 200px); */
    grid-template-columns: repeat(3, 33.3%);
    grid-template-columns: 4fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    -ms-grid-rows: 10px;

    max-width: 960px;
    text-align: center;
    
}
div {
    background-color: #83998e;
    color: white;
    padding: 30px;
}
div:nth-child(even){
    background-color: rgb(208, 255, 0);
}