html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 1.65em;
}
.navMenu li{
    display: inline-block;
    
}
header{
    background-color: rgb(6, 88, 6);
    text-align: center;
}
nav {
    text-align: center;
    
}
ul{
    list-style: none;
}

.navMenu a{
    color: tan;
    display: block;
    text-decoration: none;
    padding: 20px 20px;
}
span{
    color: tan;
    font-weight: 900;
}