*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    max-height: 100vh;
    font-size: 2rem;

}
.container{
    width: 960px;
    margin: 0 auto;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: minmax(150, auto);
}
.box{
    background-color: #000;
    color: #FFF;
}