*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    max-height: 100vh;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(9, auto );
    grid-template-rows: 75px auto 75px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn mn sb" 
    "ft ft ft ft ft ft ft ft ft";
    gap: 1rem;
}
.header{
    grid-area: hd;
}
.container{
    grid-area: mn;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: minmax(350px, auto);
    align-content: center;
    gap: 10px;

}
.sidebar{
    grid-area: sb;
}
.footer{
    grid-area: ft;
}
.box{
    background-color: #000;
    color: #FFF;
}
.box:first-child{
    background-color: #390ae6;
    /* grid-column-start: 1 ;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 1/4;
    grid-row: 1/3;
}
.box:nth-child(2){
    background-color: aquamarine;
    /* grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; */
    grid-column: 1/5;
    grid-row: 3/5;
}
.customize{
    background-color: bisque;
}